@mixin  input($bottom,$top,$size) {
    margin-bottom: $bottom;
    margin-top: $top;
    font-size: $size;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: flex-start; */
    overflow-wrap: anywhere;
    text-align: left;
    max-height: 220px;
    justify-content: space-between;
    width: 230px;
    overflow: scroll;
}

.disp-note{
        
    display: flex;
    padding: 36px 8px 18px 15px;
    flex-direction: column;
}
.note{
    width: 240px;
    min-height: 150px;
    max-height: 350px;
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: scroll;
}
.title-pinn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    min-height: 60px;
    max-height: 300px;
}
.title-note{
    @include input(5px,0px,large);
}
.description-note{
    @include input(0px,5px,larger);
}
.title-frame{
    width: 90%;
}
.pin-inp{
    display:none;
    height: 20px;
}
.icon-frame{
    height:30px
}
.disp-icn{
    display: none;
}

.note:hover .disp-icn 
{
   display: block; 
   color:#292a2b;
}

.note:hover .pin-inp
{
   display: block; 
   color:#292a2b;
}

.collab-align{
    max-width: 100%;
    max-height: 200px;
    overflow: scroll;
    display: flex;
}

.dialog-close{
    cursor: pointer;
}

@media(max-width:600px){
    .disp-note{
        width: 100%;
        width: 72%;
    }
    .note{
        width: 90%;
    }
    .title-pinn{
        width: 460px;
    }
    .title-note{
        width: 90%
    }
    .description-note{
        width: 90%
    }
    .dialog-body{
        width: 100%;
    }
    .dialog-icon{
        width:80%
    }
  }

  @media screen and (width: 360px) {
    .disp-note{
        width: 72%;
    }
  }