.note-disp{
    display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
    margin-left: 64px;
    margin-top: 50px;
    margin-bottom: 42px;
    width: 100%;
}
@media screen and (width: 360px) {
    .note-disp{
    margin-left: 10%;
    }
}