.text{
    width: 10%;
    color:black;
}
.tool{
    background-color: white;
    height:75px;
    box-shadow: 0px !important;
}
.imgKeep{
    margin-right: 12px;
}
.search-header{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}
.profilepic{
    
    margin-left: 40px;
}
.create-part{
  width: 100%;
}
.create{
    margin-top: 100px;
    width: 100%;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    margin-right: 97px;

}

@media screen and (width: 600px) {
    .text {
      display:none;
    }
  }
  @media screen and (width: 411px) {
    .text {
      display:none;
    }
  }

  

@media screen and (width: 360px) {
    .text {
      display:none;
    }
    .create{
      width: 165%;
    }
  }

  .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.profile-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.profile-content-name{
    font-size: larger;
    font-weight: 600;
}
.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 15px;
}
.profile-content-icon{
    margin-top: 20px;
}
  