.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // height: 100%;
}
.button{
    display: flex;
    justify-content:space-evenly;
    margin-left: 80%;
    margin-bottom: 60%;
}

.MuiButton-outlinedSizeSmall{
    background-color: blue !important;
}
.MuiFormControl-marginDense {
    margin-top: 20px !important;
    margin-bottom: 4px !important;
}
.reset{
    font-size: 20px;
    text-transform:uppercase;
    height: 30%;
}

.reset-cont{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .reset-fundoo{
        font-size: 30px;
    
    }
}
.reset-frame{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.reset-form{
    border-radius: 10px;
    justify-content: center;
    width: 380px;
    border: 2px solid #EDEEF0;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    padding: 20px;
}
@media only screen and (max-width: 360px) {
    .reset-form{
        justify-content: center;
        display: flex;
        flex-direction: column;
         margin-top:auto;
         height: 100vh;
         }
         .button{
            display: flex;
            justify-content:space-evenly;
            margin-left: 80%;
            margin-bottom: 80%;
        }
      
     }