
.inline-button a{
    text-decoration: none;
    color:blue;
   
}
.MuiButton-label{
    color: white !important;
}
.inline-button {
    background-color:#1a73e8;
    color: white;
    margin-left: 80%;
    margin-bottom: 40%;
}
.texts{
    width: 100% ;
    height: 100%;
}
.MuiFormControl-root{
    width: 100% !important;
}

.inline___button Button:hover{
    background-color: blue;
}
.MuiFormControl-marginDense{
    width: 100% !important;
}

 .foo{
     margin-left: 30%;
     font-size: 20px;
      color: black;
      
 }
 .h{
     font-size: 18px;
 }
 .c{
     height: 70%;
 }

.login-frame{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.login-form{
    border-radius: 10px;
    justify-content: center;
    padding: 20px;
    width: 380px;
    border: 2px solid #EDEEF0;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 49px;
    padding: 20px;
    

}
.login-cont{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-fundoo{
        font-size: 30px;
    
    }
}

