.fget-frame{width: 100%;
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.fget-form{
    width: 370px;
    height: 270px;
    padding: 18px;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
}

.fget-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textfields{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.Text-Cont{
    cursor: pointer;
    margin: 0px !important;
    text-decoration: none;
   
}

.login-fundoo-account{
    font-weight: 500;
}